<form method="post" action="/product/{{product._id}}/detail" enctype="multipart/form-data">
    <input type="text" name="name" value="{{product.name}}" placeholder="Nhập sản phẩm" /> <br />
    <input type="text" name="gender" value="{{product.gender}}" placeholder="Giới tính" /> <br />
    <input type="text" name="description" value="{{product.description}}" placeholder="Mô tả" /> <br />
    <input type="file" name="image" value="{{product.image}}" onchange="loadFile(event);" /> <br />
    <img width="300" height="300" id="img-display" alt="Image" src="{{product.image}}"><br />
    <input type="text" name="color" value="{{product.color}}" placeholder="Màu sắc" /> <br />
    <input type="number" name="price" value="{{product.price}}" placeholder="Giá" /> <br />
    <input type="number" name="quantity" value="{{product.quantity}}" placeholder="Số lượng" /> <br />
    <input type="text" name="size" value="{{product.size}}" placeholder="Kích cỡ" /> <br />
    <input type="checkbox" name="isFavorite" {{#if product.isFavorite}} Yêu thích {{/if}} /> <br />
    <input type="checkbox" name="isFutured" {{#if product.isFutured}} Nổi bật {{/if}} /> <br />
    <select name="categoryId">
        {{#each categories}}
        {{#if this.isSelected}}
        <option selected value="{{this._id}}">{{this.name}}</option>
        {{else}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/if}}
        {{/each}}
    </select><br />
    <input type="submit" value="Tạo mới" /> <br />
</form>

<script>
    const loadFile = function (event) {
        const reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('img-display');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>